# Basic data types

## Integers

In [1]:
5+5

10

In [ ]:
5

In [ ]:
-15

In [2]:
type(5)

int

In [ ]:
5 + 5

In [ ]:
5 * 5

In [3]:
9/8
# Different result in Python2 !!! It is giving integer, not float as python Å¡

1.125

In [ ]:
# Asigning values
x = 5
x

In [ ]:
my_variable = 5

In [ ]:
my_variable

In [ ]:
type(my_variable)

In [ ]:
x + 5

## Float numbers

In [4]:
type(1.5)

float

In [5]:
-1.5

-1.5

In [ ]:
type(1.5)

In [6]:
1.5 * 55

82.5

In [7]:
# check this!
0.1 + 0.1 + 0.1 == 0.3

False

In [8]:
0.1 + 0.1 + 0.1

0.30000000000000004

woooooow! AP: It is because computers works in binary. Some numbers are not easy to transform to binary. As 0.1 will be some super long number in binary... it is a super long number. And when counting with them, the error is growing. So never check the results with the == assignment....

## Strings

In [9]:
'Python'

'Python'

In [10]:
"Python"

'Python'

In [11]:
Python # AP: will rise error... need to use quotes!

NameError: name 'Python' is not defined

In [12]:
type('Python')

str

In [13]:
type(5)

int

In [14]:
# now it's a string because of the quotation marks
type('5')

str

In [16]:
'5' * 5 # multiplying strings

'55555'

The danger is when we are taking data from outside.... we need to check for the data types, otherwise an error can occur very easily

### String slicing

Python counts from zero! R from 1!!!!

In [25]:
'Python'[1]

'y'

In [17]:
'Python'[4:6] # When using the interval, it is an open interval!! So [included : first not included]

'on'

In [18]:
x = 'Python'
x[2:4]

'th'

In [19]:
x[0:4]

'Pyth'

In [20]:
x[0]

'P'

In [21]:
x[-1]

'n'

In [22]:
x[:2]

'Py'

In [23]:
x[2:]

'thon'

In [24]:
x[::-1]

'nohtyP'

In [26]:
"I dont't know" [::2] # every second letter

"Idn' nw"

In [28]:
"I dont't know" [::-1] # revert string - alternative to "rev" in bash

"wonk t'tnod I"

### Basic functions/methods

Notation for functions is name_of_the_function(data)


Notation for method is x.method

... when you write x. and press TAB it will show you all of the available methods

... if the TAB is not working you can use help(str), dir(x) where x is your object

... or just google it and use stackoveflow and check the best voted solution
 
Difference among function and method... 

... methods are functions which are specifically bound to some data type

In [29]:
# Length
len('Python')

6

In [30]:
x = 'Python is cooool'
print(x)

Python is cooool

In [31]:
x.count('O')

0

In [32]:
'Python' in x

True

In [33]:
'Cobra' not in x

True

In [34]:
x.startswith('Py')

True

In [35]:
# silly comment
x.upper()

'PYTHON IS COOOOL'

In [36]:
x.lower()

'python is cooool'

In [37]:
x.replace('o', 'x')

'Pythxn is cxxxxl'

In [38]:
# For other methods use tab or dir(), help or google!

In [39]:
dir(x)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [40]:
help(x)

No Python documentation found for 'Python is cooool'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

## List

In [1]:
['One', 'Simple', 'List']

['One', 'Simple', 'List']

In [2]:
x = ['One', 'Simple', 'List']
print(x)

['One', 'Simple', 'List']

In [3]:
type(x)

list

### List slicing

In [ ]:
x[0]

In [ ]:
x[-1]

In [ ]:
x[1:]

### Basic list methods

In [26]:
x = ['One', 'Simple', 'List']

In [27]:
x.append('New item')
print(x)

['One', 'Simple', 'List', 'New item']

In [ ]:
x.sort()
print(x)

In [ ]:
x.reverse()
print(x)

In [ ]:
x.remove('Simple')
print(x)

In [ ]:
'One' in x

In [ ]:
x[0] == 'One'

## Tuple ('immutable list')

In [5]:
x = ('One', 'random', 'tuple')
print(x)

('One', 'random', 'tuple')

In [6]:
type(x)

tuple

In [7]:
x[0] = 'BLA'

TypeError: 'tuple' object does not support item assignment

## Set (unordered)

Set has just unique values and these values are unordered - so it produces non redundant list

Is something in a list (much longer) or in a set (much faster)
* it can make the calculation faster by days if you convert list in set!!!

Sets are great for unions (like in Venn diagram)

In [14]:
test_set = {'jahody', 'jahody', 'jahody', 'car', 'cat'}
print(test_set)

{'cat', 'jahody', 'car'}

In [15]:
len(test_set)

3

In [16]:
test_set.add('dog')
print(test_set)

{'cat', 'jahody', 'dog', 'car'}

In [17]:
set1 = {1,2,3}
set2 = {1,2,3,4,5}

In [18]:
set1.issubset(set2)

True

In [19]:
set1.symmetric_difference(set2)

{4, 5}

## Dictionary (ordered from 3.6)

key : value

* The key has to be unique
* Value doesn't have to be unique

If you add to dictionary another item with a key that is already there, the new value will be overwritten by the newest entry

Slicing is not possible.... in the same way like in strings... first_dictionary[0] does't work...it looks for key 0

In [20]:
first_dictionary = {'Grzegorz': 'Poland', 'Tereza': 'Czech Rep.', 'Sasha': 'Russia'}
print(first_dictionary)

{'Grzegorz': 'Poland', 'Tereza': 'Czech Rep.', 'Sasha': 'Russia'}

In [21]:
first_dictionary['Sasha']

'Russia'

In [25]:
first_dictionary['Sasha'] = 'Czech Rep.'
first_dictionary['Sasha']

'Czech Rep.'